.grid-container {
  width: 100vw;
  overflow-x: auto;
}

.grid-table {
  width: 100vw;
  overflow-x: auto;
}

.grid-row {
  color: #000;
}

.grid-cell {
  padding: 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100px;
  position: relative;
  text-align: center;
}

.grid-header {
  background-color: #343434;
}

.grid-header .grid-cell {
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
  font-weight: 500;
}
